spring:
  application:
    name: auth-service
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/auth_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: ${SHOW_SQL:true}

server:
  port: 8081

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    enabled: true

user:
  service:
    url: ${USER_SERVICE_URL:http://localhost:8080}

app:
  jwt:
    secret: ${JWT_SECRET:myVerySecretKeyForJWTGenerationInAuthService2024WithMinimum32Characters}
    access-token-expiration: 900000     # 15 minutes
    refresh-token-expiration: 604800000     # 7 days

logging:
  level:
    com.stoliar: DEBUG
    org.springframework.security: DEBUG