spring:
  application:
    name: user-service

  security:
    user:
      password: disabled

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/user_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: ${SHOW_SQL:false}

  liquibase:
    enabled: ${LIQUIBASE_ENABLED:true}
    change-log: classpath:db/changelog/db.changelog-master.yaml

  redis:
    cache:
      type: redis
      redis:
        time-to-live: ${CACHE_TTL:300000}
        cache-null-values: false
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: ${REDIS_TIMEOUT:2000ms}

app:
  jwt:
    secret: ${JWT_SECRET:myVerySecretKeyForJWTGenerationInAuthService2024WithMinimum32Characters}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    enabled: true

logging:
  level:
    com.stoliar.user_service: INFO
    org.hibernate.SQL: ${SHOW_SQL:false}
    org.hibernate.type: TRACE
    org.springdoc: DEBUG
    io.swagger.v3: DEBUG